#EFP{ //EFP => Edit FreeLancer Profile
    // padding-top: 120px;
    // padding-bottom: 120px;
    .EFP__section-title{
        padding: 5px;
        .EFP__section-title-main{
            margin: 10px;
        }
    }

    // start edit profile
    .EFP__main-row{
        margin-bottom: 10px;
        .EFP__nav-part{
            border: 1px solid #ddd;
            padding: 5px;
        }
    }
    
    // end edit profile

    .EFP__edit-form-nav-part, .EFP__nav-part{
        border: 1px solid #ddd;
        padding: 5px;
        .single-part-head, .single-part-body {
            font-size: 12px;
            margin: 5px 10px;
            padding: 10px 2px;
            border-bottom: 1px solid #ddd;
            span a{
                color:#5c5c5c;
                font-size: 12px;
            }
        }
        .single-part-bottom{
            font-size: 12px;
            margin: 5px 10px;
            padding: 10px 2px;
            span a{
                color:#5c5c5c;
                font-size: 12px;
            }
        }
        .dashboard-account{
            .account-img{
                padding: 0px;
                img{
                    border: 3px solid#6772E5;
                    padding: 0px;
                    width: 90%;
                    max-height: 150px;
                    border-radius: 5%;
                }
            }
        }
        h3{
            font-size: 24px;
        }
        p{
            font-size: 16px;
            color: $gray-color3;
            font-family: $rubik;
            font-weight: 400;
            margin-top: 18px;
            margin-bottom: 21px;
        }
        a{ 
            text-transform: capitalize;
            color: $gray-color3;
            @include transition(.3s);
            font-family: $rubik;
            font-weight: 400;
            font-size: 16px;
            display: inline-block;
            &:hover{
                text-decoration: underline;
                color: $theme-color2;
            }
        }
        @media #{$mobile_device} {
            margin-bottom: 30px;
        }
    }


    // #about section
    #about{
        .profile-cover{
            min-height: 250px;
            position: relative !important;
            -ms-background-size: cover;
            background-size: cover;
            background-position: 50% 50%;
            display: block;
            margin: 0;
            width: 100%;
            box-shadow: 0 -330px 40px 20px rgba(0,0,0,0.1) inset !important;
            -moz-box-shadow: 0 -330px 40px 20px rgba(0,0,0,0.1) inset !important;
            -o-box-shadow: 0 -330px 40px 20px rgba(0,0,0,0.1) inset !important;
            -webkit-box-shadow: 0 -330px 40px 20pxrgba(0,0,0,0.1) inset !important;
            -ms-box-shadow: 0 -330px 40px 20px rgba(0,0,0,0.1) inset !important;
            padding: 20px 0;
            overflow: inherit;
            .profile-cover-btn{
                position: absolute;
                top: 20px;
                left: 20px;
                padding: 5px;
                display: block; 
                // button{
    
                // }
                p{
                    font-size: 11px;
                    color:#FFF;
                    font-weight: 200;
                    padding: 2px;
                    text-align: center;
                    margin: 1px;
                    -webkit-text-shadow: 1px 1px 1px #000;
                    -ms-text-shadow: 1px 1px 1px #000;
                    -moz-text-shadow: 1px 1px 1px #000;
                    -o-text-shadow: 1px 1px 1px #000;
                    text-shadow: 1px 1px 1px#000;
                }
            }
    
        }
        .profile-photo-container{
            
            display: flex;
            .profile-photo{
                width: 30%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                img{
                    margin-bottom: 10px;
                    padding: 0px;
                    width: 5rem;
                    max-height: 150px;
                    border-radius: 25%; 
                    @include transition(.3s);
                    &:hover{
                        transform: scale(1.1);
                    }  
                }
            }

        }
        
    }

    #potfolio{
        .single-potfolio{
            background: #cccccc7a;
            padding: 10px;
            margin: 5px auto;
            @media #{$mobile_device}{
                margin-bottom: 30px;
            }
            @media #{$tablet_device}{
                margin-bottom: 30px;
            }
            .potfolio-thumb{
                position: relative;
                overflow: hidden;
                text-align: center !important;
                img{
                    width: 100%;
                    max-height: 150px;
                }
                .potfolio-hover{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    transform: translateY(100px);
                    opacity: 0;
                    visibility: hidden;
                    @include transition(.5s);
                    &::before{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: #020c26;
                        opacity: .8;
                        @include transition(.5s);
                    }
                    .potfolio-link{
                        position: absolute;
                        top: 50%;
                        left: 0;
                        right: 0;
                        text-align: center;
                        transform: translateY(-50%);
                        ul{
                            li{
                                display: inline-block;
                                a{
                                    color: #fff;
                                    font-size: 18px;
                                    margin: 0 8px;
                                    &:hover{
                                        color: #ff5e13;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .team-info{
                margin-top: 5px;
                h3{
                    font-weight: 400;
                    font-family: $rubik;
                    color: #020c26;
                    margin-bottom: 8px;
                }
                p{
                    font-weight: 400;
                    font-family: $rubik;
                    font-size: 16px;
                    color: #5c5c5c;
                    margin-bottom: 0;
                }
            }
            &:hover .potfolio-hover{
                transform: translateY(0px);
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

