.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: all .3s ease;
    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
        background-color: $modal-bg-color;
        .modal-dialog{
            .modal-content{
                // background-color: rgb(28, 28, 28);
                // border: 0px solid rgba(0,0,0,.2);
                border-radius: 0rem;
                .modal-header{
                    background: $gray-color;
                    color: #fff !important;
                    border-top-left-radius: 0rem;
                    border-top-right-radius: 0rem;
                    .madal-title{
                        color: #fff !important;
                    }
                    .close{
                        span{
                            color: #fff;
                        }
                    }
                }
                .modal-body{
                    .col-form-label{
                        font-size: 12px;
                    }
                }
                .modal-footer{
                    background: $gray-color;
                    border-bottom-left-radius: 0rem;
                    border-bottom-right-radius: 0rem;

                }
            }
        }
    }

}

// start for model animation
.bounce-enter-active {
    animation: bounce-in .5s;
}
.bounce-leave-active {
    animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
// end start for model animation
